{% spaceless %}{% include 'django/forms/widgets/select.html' %}{% endspaceless %}
<script>

    function getChosenClusters() {
            let clusterQuery = ""
            SelectBox.cache.szymon_to.forEach((e, idx) => {
                clusterQuery += `clusters=${e.value}`;
                if (idx < (SelectBox.cache.szymon_to.length-1)) {
                    clusterQuery += "&";
                }
            })
            return clusterQuery;
        }

    function reloadPriorities() {
        var director_id = $("[name=director]").val() || 0,
            current = $("[name=priority]").val(),
            route_id=0;


        if (window.location.href.includes('change')) {

            route_id = window.location.href.split('/')[6];
        }

        $.ajax(
                {
                    url: `/router/route/priorities/${director_id}/${route_id}/${current}/?${getChosenClusters()}`,
                    success: function(result){
                        $('[name=priority]').find('option').remove();
                        result['values'].forEach(
                            function(value){
                                var options = "<option value='" + value + "'>" + value + "</option>";
                                $("[name=priority]").append(options);
                            }
                        );
                        $("[name=priority]").val(result['choose']);
                    }
                }
        );
    }

    (function ($) {
    window.addEventListener('load', (event) => {

        document.getElementById("szymon_add_link").addEventListener("click", reloadPriorities);
        document.getElementById("szymon_remove_link").addEventListener("click", reloadPriorities);
        document.getElementById("szymon_add_all_link").addEventListener("click", reloadPriorities);
        document.getElementById("szymon_remove_all_link").addEventListener("click", reloadPriorities);

        $('[name=director]').change(reloadPriorities);
        reloadPriorities();
    });


})(django.jQuery);

</script>