db.sqlite3
*.pyc
.idea
.vscode
*.iml
.vagrant
.DS_Store
*.egg
*.log
coverage.xml
nohup.out
vaas/vaas/static/
vagrant/puppet/manifests/build/
site/
venv/
vaas-app/src/src/
plugins/*
!plugins/.keep
!plugins/urls.py
.env/