{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}

{% block field_sets %}
<div class="col-12 col-lg-9">
  <div class="card">
    <div class="card-body">
      {% get_changeform_template adminform as changeform_template %}
      {% include changeform_template %}
    </div>
    <div class="card-footer">
      {% if original %}
        <span class="badge badge-secondary">uuid: {{original.uuid}}</span>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
