{% spaceless %}
<div id="conditions-container" class="row">
    {% for widget in widget.subwidgets %}
    <div class="condition-item row mb-2" data-condition="{{ forloop.counter }}">
        {% include widget.template_name %}
    </div>
    {% if not forloop.last %}
    <div class="row mb-2" id="conjunction_{{ forloop.counter }}">
        <div class="col text-center"><strong>AND</strong></div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="row mt-3">
    <div class="col-auto">
        <button type="button" class="btn btn-danger" id="del_condition">-</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary" id="add_condition">+</button>
    </div>
</div>
{% endspaceless %}

{% block extrajs %}
<script>
    (function ($) {
        let conditionCounter = $('#conditions-container .condition-item').length;

        function addCondition() {
            conditionCounter++;
            console.log("add", conditionCounter);
            $.ajax({
                url: '/router/add_condition/',
                type: 'GET',
                success: function (response) {
                    const conjunctionRow = $(`
                <div class="row mb-2" id="conjunction_${conditionCounter}">
                    <div class="col text-center"><strong>AND</strong></div>
                </div>
            `);
                $('#conditions-container')
                    .append(conjunctionRow)
                    .append(response.html);
            }
            });
        }

        $('#add_condition').on('click', addCondition);


        function delCondition() {
            if ($('#conditions-container .condition-item').length <= 1) {
                return
            }
            console.log("delete", conditionCounter);
            const lastCondition = $('#conditions-container .condition-item').last();
            const lastConjunction = $('#conditions-container .row[id^="conjunction_"]').last();
            lastConjunction.remove();
            lastCondition.remove();
            conditionCounter--;
        }
        $('#del_condition').on('click', delCondition);
    })(django.jQuery);
</script>
{% endblock %}