{% extends "admin/base_site.html" %}
{% load i18n static admin_modify jazzmin %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

    {% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="/purger/">Purger</a> <span class="divider">/</span></li>
</ul>
{% endblock %}


{% block object-tools %}
<a class="brand">Purge url</a>
{% endblock %}

{% block content %}
<form action="/admin/purger/" method="post" class="form-horizontal">
<div class="alert alert-warning">Fields in <strong>bold</strong> are required.</div>

<div class="row-fluid">
    <div id="content-main" class="span12">
        <div>
<fieldset class="_module _aligned" id="fieldset-1" style="background:transparent">

<div class="fields ">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="control-group {% if form.url.errors %} error {% endif %}">
        <div>
            <div class="control-label">
                <label class="required" for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>

            </div>
            <div class="controls">
                {{form.url}}
                {% if form.url.errors %}
                    <span class="help-inline">{{ form.url.errors.0 }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="control-group">
        <div>
            <div class="control-label">
                <label class="required" for="{{ form.cluster.id_for_label }}">{{ form.cluster.label }}</label>
            </div>
            <div class="controls">
                {{form.cluster}}
            </div>
        </div>
    </div>



    <div class="row-fluid">
        <div class="form-actions">
            <div class="pull-right">
                <input type="submit" value="Purge" class="btn btn-primary default" />
             </div>

        </div>
    </div>

</div>
</fieldset>

</div>
</div>
</div>
</form>
{% endblock %}
