<script>
  function createTestResult(records) {
    records.sort(function(x, y) {
      if (x.error_message && !y.error_message) {
        return -1;
      }
      if (!x.error_message && y.error_message) {
        return 1;
      }
      if (x.expected.redirect.id < y.expected.redirect.id) {
        return -1;
      }
      return 1;
    });
    let html = '';
    records.forEach(function (record) {
      var errorMsg = ''
      if (!record.current.redirect) record.current.redirect = { name: 'no data', id: 'no data' };
      if (record.error_message) record.error_message = `<div class="alert alert-danger" role="alert">${record.error_message}</div>`
      html += eval('`' + $("#test-case").html() + '`');
    });
    return html
  }

  $(document).ready(function () {
    initReport('/api/v0.1/redirect/validate-command/', createTestResult);
  })

</script>

<template id="test-case">
  <div class="panel panel-${statusToClass(record.result)}">
    <div class="panel-heading">
      <h3 class="panel-title">${record.url}</h3>
    </div>
    <div class="panel-body">
      ${record.error_message}
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5><strong>Location:</strong> <code>${record.current.location}</code></h5>
              <h6 class="text-muted">redirect.condition: ${record.current.redirect.name}</h6>
              <h6 class="text-muted">redirect.id: ${record.current.redirect.id}</h6>
            </div>
            <div class="panel-footer">
              Current
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h5><strong>Location:</strong> <code>${record.expected.location}</code></h5>
                <h6 class="text-muted">redirect.condition: ${record.expected.redirect.name}</h6>
                <h6 class="text-muted">redirect.id: ${record.expected.redirect.id}</h6>
              </div>
              <div class="panel-footer">
                Expected
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<div class='pull-right'>
  <button id="test" type="button" class="btn btn-info" data-toggle="modal" data-target="#testResultModal">
    Run redirects test
  </button>
</div>
<div class="modal fade" id="testResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Redirects Test Report</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task info</h3>
          </div>
          <div id="command-details" class="panel-body">
            <h5>Command status: <span id="command-status" class="label label-default">unknown</span></h5>
            <h5>Command ID: <span id="command-id" class="label label-default"></span></h5>
          </div>
        </div>
        <h2>Tests report result: <span id="command-result" class="label label-default">UNKNOWN</span></h2>
        <h4>
          Details:
          <span class="label label-success">PASS <span id="pass-count" class="badge">0</span></span>
          <span class="label label-danger">FAILED <span id="failed-count" class="badge">0</span></span>
        </h4>
        <div id="spinner" class="loader center-block"></div>
        <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>