<style>
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #555;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script>
  const noDataPlaceholder = { name: 'no data', id: 'no data' };
  function redirectsValidateCommand(url) {
    return $.ajax({
      type: 'PUT',
      url: url,
      data: '{}',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      error: handleErrorResponse,
      success: handleRedirectsValidateResponse,
      beforeSend: setCRSFToken,
      complete: function () { if (isResultStillAwaited(url)) { setTimeout(function () { poolRedirectsValidateResult(url) }, 500) } },
    });
  }

  function poolRedirectsValidateResult(url) {
    $.ajax({
      url: url,
      dataType: 'json',
      error: handleErrorResponse,
      success: handleRedirectsValidateResponse,
      complete: function () { if (isResultStillAwaited(url)) { setTimeout(function () { poolRedirectsValidateResult(url) }, 500) } },
      timeout: 5000
    });
  }

  function handleRedirectsValidateResponse(data, textStatus, request) {
    const status = data.status
    if (checkCommandStatus('done')) return;
    if (status === 'FAILURE') {
      setCommandStatus('done');
      showError("Can't generate report. Task failed. Refresh page and try again")
      $('#spinner').hide()
    }
    else if (status === 'SUCCESS') {
      setCommandStatus('done');

      // TODO: parse validation result
      console.log('validation result', data.output)

      $('#command-result').addClass(`label-${statusToClass(validationStatus(data.output.validation_status))}`).text(data.output.validation_status);
      $('#spinner').hide()
    }
    $('#command-status').removeClass();
    $('#command-status').addClass(`label label-${statusToClass(status)}`).text(status);
  }

  function handleErrorResponse(request, textStatus, errorThrown) {
    setCommandStatus('done');
    console.error(textStatus, errorThrown)
    $('#command-details').append(`<div id="error-message" class="alert alert-danger" role="alert">${request.responseText || errorThrown}</div>`)
    $('#command-result').addClass(`label-${statusToClass(validationStatus(false))}`).text(validationStatus('Error'));
    $('#spinner').hide();
  }

  function showError(message) {
    $('#error-message').remove()
    $('#command-details').append(`<div id="error-message" class="alert alert-danger" role="alert">${message}</div>`)
  }

  function isPollingFinished(commandId, status) {
    return $('#command-id').text() != commandId || checkCommandStatus('done')
  }

  function isResultStillAwaited(commandURL) {
    var parts = commandURL.split('/')
    return !isPollingFinished(parts[parts.length - 2], 'done');
  }

  function validationStatus(status) {
    if (status) {
      return 'SUCCESS';
    }
    return 'FAIL';
  }

  function setCommandStatus(status) {
    $('#command-id').data('status', status)
  }

  function checkCommandStatus(status) {
    return $('#command-id').data('status') == status
  }

  function statusToClass(status) {
    switch (status) {
      case 'PENDING':
        return 'info';
      case 'PASS':
      case 'SUCCESS':
        return 'success'
      case 'FAIL':
      case 'FAILURE':
        return 'danger'
      default:
        return 'default'
    }
  }

  function clearModal(commandId) {
    $('#spinner').show();
    $('#results').text("");
    $('#command-status').removeClass();
    $('#command-status').addClass(`label label-default`).text("unknown");
    $('#command-result').removeClass();
    $('#command-result').addClass(`label label-default`).text("UNKNOWN");
    $('#command-id').text(commandId);
    $('#command-id').data("status", "started");
  }

  $(document).ready(function () {
    var testResultModalEl = $('#testResultModal');
    testResultModalEl.on('show.bs.modal', function (event) {
      var commandId = Date.now().toString(36) + Math.random().toString(36).substring(2);
      clearModal(commandId)
      redirectsValidateCommand('/api/v0.1/redirect/validate-command/' + commandId + '/');
    });
  })

</script>
<div class='pull-right'>
  <button id="test" type="button" class="btn btn-info" data-toggle="modal" data-target="#testResultModal">
    Run redirects test
  </button>
</div>
<div class="modal fade" id="testResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Redirects Test Report</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task info</h3>
          </div>
          <div id="command-details" class="panel-body">
            <h5>Command status: <span id="command-status" class="label label-default">unknown</span></h5>
            <h5>Command ID: <span id="command-id" class="label label-default"></span></h5>
          </div>
        </div>
        <h2>Tests report result: <span id="command-result" class="label label-default">UNKNOWN</span></h2>
        <h4>
          Details:
          <span class="label label-success">PASS <span id="pass-count" class="badge">0</span></span>
          <span class="label label-danger">FAILED <span id="failed-count" class="badge">0</span></span>
        </h4>
        <div id="spinner" class="loader center-block"></div>
        <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>