{% if route_tests_enabled %}
<style>
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #555;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script>
  const noDataPlaceholder = { name: 'no data', id: 'no data' };
  function routesValidateCommand(url) {
    return $.ajax({
      type: 'PUT',
      url: url,
      data: '{}',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      error: handleErrorResponse,
      success: handleRoutesValidateResponse,
      beforeSend: setCRSFToken,
      complete: function () { if (isResultStillAwaited(url)) { setTimeout(function () { poolRoutesValidateResult(url) }, 500) } },
    });
  }

  function poolRoutesValidateResult(url) {
    $.ajax({
      url: url,
      dataType: 'json',
      error: handleErrorResponse,
      success: handleRoutesValidateResponse,
      complete: function () { if (isResultStillAwaited(url)) { setTimeout(function () { poolRoutesValidateResult(url) }, 500) } },
      timeout: 5000
    });
  }

  function handleRoutesValidateResponse(data, textStatus, request) {
    const status = data.status
    if (checkCommandStatus('done')) return;
    if (status === 'FAILURE') {
      setCommandStatus('done');
      showError("Can't generate report. Task failed. Refresh page and try again")
      $('#spinner').hide()
    }
    else if (status === 'SUCCESS') {
      setCommandStatus('done');
      $('#results').append(createTestResult(data.output.validation_results))
      $('#pass-count').text(countResult('PASS', data.output.validation_results));
      $('#failed-count').text(countResult('FAIL', data.output.validation_results));
      $('#command-result').addClass(`label-${statusToClass(data.output.validation_status)}`).text(data.output.validation_status);
      $('#spinner').hide()
    }
    $('#command-status').removeClass();
    $('#command-status').addClass(`label label-${statusToClass(status)}`).text(status);
  }

  function createTestResult(records) {
    var html = '';
    records.sort(function(x, y) {
      if (x.error_message && !y.error_message) {
        return -1;
      }
      if (!x.error_message && y.error_message) {
        return 1;
      }
      if (x.expected.route.id < y.expected.route.id) {
        return -1;
      }
      return 1;
    });
    records.forEach(function (record) {
      var errorMsg = ''
      if (!record.current.route) record.current.route = noDataPlaceholder
      if (!record.current.director) record.current.director = noDataPlaceholder
      if (record.error_message) errorMsg = `<div class="alert alert-danger" role="alert">${record.error_message}</div>`
      html += `<div class="panel panel-${statusToClass(record.result)}">
          <div class="panel-heading">
            <h3 class="panel-title">${record.url}</h3>
          </div>
          <div class="panel-body">
            ${errorMsg}
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h5><strong>Director: </strong>${record.expected.director.name}</h5>
                    <h5><strong>Route:</strong> <code>${record.expected.route.name}</code></h5>
                    <h6 class="text-muted">director.id: ${record.expected.director.id}</h6>
                    <h6 class="text-muted">route.id: ${record.expected.route.id}</h6>
                  </div>
                  <div class="panel-footer">
                    Expected
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h5>Director: ${record.current.director.name}</h5>
                      <h5>Route: <code>${record.current.route.name}</code></h5>
                      <h6 class="text-muted">director.id: ${record.current.director.id}</h6>
                      <h6 class="text-muted">route.id: ${record.current.route.id}</h6>
                    </div>
                    <div class="panel-footer">Current</div>
                  </div>
                </div>
            </div>
          </div>
        </div>`
    });
    return html
  }

  function countResult(resultString, records) {
    var counter = 0;
    records.forEach(function (record) {
      if (record.result === resultString) {
        counter += 1
      }
    })
    return counter;
  }

  function handleErrorResponse(request, textStatus, errorThrown) {
    setCommandStatus('done');
    console.error(textStatus, errorThrown)
    $('#command-details').append(`<div id="error-message" class="alert alert-danger" role="alert">${request.responseText || errorThrown}</div>`)
    $('#command-result').addClass(`label-${statusToClass('FAIL')}`).text(validationStatus('Error'));
    $('#spinner').hide();
  }

  function showError(message) {
    $('#error-message').remove()
    $('#command-details').append(`<div id="error-message" class="alert alert-danger" role="alert">${message}</div>`)
  }

  function isPollingFinished(commandId, status) {
    return $('#command-id').text() != commandId || checkCommandStatus('done')
  }

  function isResultStillAwaited(commandURL) {
    var parts = commandURL.split('/')
    return !isPollingFinished(parts[parts.length - 2], 'done');
  }

  function setCommandStatus(status) {
    $('#command-id').data('status', status)
  }

  function checkCommandStatus(status) {
    return $('#command-id').data('status') == status
  }

  function statusToClass(status) {
    switch (status) {
      case 'PENDING':
        return 'info';
      case 'PASS':
      case 'SUCCESS':
        return 'success'
      case 'FAIL':
      case 'FAILURE':
        return 'danger'
      default:
        return 'default'
    }
  }

  function clearModal(commandId) {
    $('#spinner').show();
    $('#results').text("");
    $('#pass-count').text(0);
    $('#failed-count').text(0);
    $('#error-message').remove();
    $('#command-status').removeClass();
    $('#command-status').addClass(`label label-default`).text("unknown");
    $('#command-result').removeClass();
    $('#command-result').addClass(`label label-default`).text("UNKNOWN");
    $('#command-id').text(commandId);
    $('#command-id').data("status", "started");
  }

  $(document).ready(function () {
    var testResultModalEl = $('#testResultModal');
    testResultModalEl.on('show.bs.modal', function (event) {
      var commandId = Date.now().toString(36) + Math.random().toString(36).substring(2);
      clearModal(commandId)
      routesValidateCommand('/api/v0.1/route/validate-command/' + commandId + '/');
    });
  })

</script>
<div class='pull-right'>
  <button id="test" type="button" class="btn btn-info" data-toggle="modal" data-target="#testResultModal">
    Run routes test
  </button>
</div>
<div class="modal fade" id="testResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Routes Test Report</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task info</h3>
          </div>
          <div id="command-details" class="panel-body">
            <h5>Command status: <span id="command-status" class="label label-default">unknown</span></h5>
            <h5>Command ID: <span id="command-id" class="label label-default"></span></h5>
          </div>
        </div>
        <h2>Tests report result: <span id="command-result" class="label label-default">UNKNOWN</span></h2>
        <h4>
          Details:
          <span class="label label-success">PASS <span id="pass-count" class="badge">0</span></span>
          <span class="label label-danger">FAILED <span id="failed-count" class="badge">0</span></span>
        </h4>
        <div id="spinner" class="loader center-block"></div>
        <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}