{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block submit_buttons_bottom %}
{% submit_row %}
<style>
  .loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #555;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
<div class="modal fade" id="validation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Checking vcl compilation result</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task info</h3>
          </div>
          <div class="panel-body">
            <h5>Command status: <span id="command-status" class="label label-default">unknown</span></h5>
            <h5>Command ID: <span id="command-id" class="label label-default"></span></h5>
            <h5>Affected servers: <span id="servers-no" class="label label-default">0</span></h5>
          </div>
        </div>
        <h2>Compilation status: <span id="command-result" class="label label-default">UNKNOWN</span></h2>
        <div id="spinner" class="loader center-block"></div>
        <div id="result" class="alert alert-danger">
          <h4 id="error-type"></h4>
          <pre id="error-message"></pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
