{% if route_tests_enabled %}
<script>
  var taskURL = '';
  const noDataPlaceholder = { name: 'no data', id: 'no data' };
  function handleError(request, textStatus, errorThrown) {
    $('#spinner').hide()
    console.error(textStatus, errorThrown)
    showError(errorThrown || `${textStatus}, check console log for more details`)
  }
  function createTask(callback) {
    return $.ajax({
      type: 'POST',
      url: '/api/v0.1/validate_routes/',
      data: '{}',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      error: handleError,
      beforeSend: setCRSFToken,
      success: callback,
    });
  }
  function poolTaskStatus(url) {
    $.ajax({
      url: url,
      dataType: 'json',
      error: handleError,
      success: function (data, textStatus, request) {
        const status = data.task_status
        if (!isResultStillAwaited(url)) return;
        if (status === 'FAILURE') {
          $('#task-id').data("status", "done")
          showError("Can't generate report. Task failed. Refresh page and try again")
          $('#spinner').hide()
        }
        else if (status === 'SUCCESS') {
          $('#task-id').data("status", "done")
          const validationResults = data.validation_results;
          const validationStatus = data.validation_status;
          $('#results').append(createTestResult(validationResults));
          $('#pass-count').text(countResult('PASS', validationResults));
          $('#failed-count').text(countResult('FAIL', validationResults));
          $('#report-result').addClass(`label-${statusToClass(validationStatus)}`).text(validationStatus);
          $('#spinner').hide()
        }
        $('#task-status').removeClass();
        $('#task-status').addClass(`label label-${statusToClass(status)}`).text(status);
      },
      complete: function () { if (isResultStillAwaited(url)) { setTimeout(function () { poolTaskStatus(url) }, 5000) } },
      timeout: 5000
    });
  }
  function showError(message) {
    $('#error-message').remove()
    $('.modal-body').prepend(`<div id="error-message" class="alert alert-danger" role="alert">${message}</div>`)
  }
  function createTestResult(records) {
    var html = '';
    records.sort(sortByFailure).forEach(function (record) {
      var errorMsg = ''
      if (!record.current.route) record.current.route = noDataPlaceholder
      if (!record.current.director) record.current.director = noDataPlaceholder
      if (record.error_message) errorMsg = `<div class="alert alert-danger" role="alert">${record.error_message}</div>`
      html += `<div class="panel panel-${statusToClass(record.result)}">
          <div class="panel-heading">
            <h3 class="panel-title">${record.url}</h3>
          </div>
          <div class="panel-body">
            ${errorMsg}
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h5><strong>Director: </strong>${record.expected.director.name}</h5>
                    <h5><strong>Route:</strong> <code>${record.expected.route.name}</code></h5>
                    <h6 class="text-muted">director.id: ${record.expected.director.id}</h6>
                    <h6 class="text-muted">route.id: ${record.expected.route.id}</h6>
                  </div>
                  <div class="panel-footer">
                    Expected
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h5>Director: ${record.current.director.name}</h5>
                      <h5>Route: <code>${record.current.route.name}</code></h5>
                      <h6 class="text-muted">director.id: ${record.current.director.id}</h6>
                      <h6 class="text-muted">route.id: ${record.current.route.id}</h6>
                    </div>
                    <div class="panel-footer">Current</div>
                  </div>
                </div>
            </div>
          </div>
        </div>`
    });
    return html
  }
  function countResult(resultString, records) {
    var counter = 0;
    records.forEach(function (record) {
      if (record.result === resultString) {
        counter += 1
      }
    })
    return counter;
  }

  function isResultStillAwaited(taskURL) {
    return $('#task-id').text() == taskURL.split('/')[4] && $('#task-id').data("status") == "started";
  }

  function clearReportState() {
    $('#error-message').remove();
    $('#spinner').show();
    $('#task-status').removeClass();
    $('#task-status').addClass(`label label-default`).text("unknown");
    $('#report-result').removeClass();
    $('#report-result').addClass(`label label-default`).text("UNKNOWN");
    $('#pass-count').text(0);
    $('#failed-count').text(0);
    $('#results').text("");
  }

  $(document).ready(function () {
    var testResultModalEl = $('#testResultModal');
    testResultModalEl.on('show.bs.modal', function (event) {
      clearReportState()
      createTask(function (data, textStatus, request) {
        taskURL = request.getResponseHeader('Location')
        $('#task-id').text(taskURL.split('/')[4]);
        $('#task-id').data("status", "started");
        poolTaskStatus(taskURL);
      });
    });
  })
</script>
<div class='pull-right'>
  <button id="test" type="button" class="btn btn-info" data-toggle="modal" data-target="#testResultModal">
    Run routes test
  </button>
</div>
<div class="modal fade" id="testResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Routes Test Report</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Task info</h3>
          </div>
          <div class="panel-body">
            <h5>Task status: <span id="task-status" class="label label-default">unknown</span></h5>
            <h5>Task ID: <span id="task-id" class="label label-default"></span></h5>
          </div>
        </div>
        <h2>Tests report result: <span id="report-result" class="label label-default">UNKNOWN</span></h2>
        <h4>
          Details:
          <span class="label label-success">PASS <span id="pass-count" class="badge">0</span></span>
          <span class="label label-danger">FAILED <span id="failed-count" class="badge">0</span></span>
        </h4>
        <div id="spinner" class="loader center-block"></div>
        <div id="results"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}