<!-- Modal -->
<script>
    $(document).ready(function () {
        var vcl_modal = $('#vclModal');
        vcl_modal.on('show.bs.modal', function (event) {
            var vcl = $(event.relatedTarget).data('vcl');
            $(this).find('.modal-body').load(vcl)
        });
        vcl_modal.on('hidden.bs.modal', function (e) {
            $(this).find('.modal-body').empty();
        });

    })
</script>
<div class="modal fade" id="vclModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Online vcl preview</h4>
            </div>
            <xmp class="modal-body" style="overflow-x: auto;">

            </xmp>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>