{% extends "admin/base_site.html" %}
{% load static i18n jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li>{% trans 'Home' %}</li>
</ul>
{% endblock %}

{% block content-navbar-collapse %}
{% endblock %}

{% block object-tools %}
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Applications" %} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

        </ul>
    </li>
</ul>
{% endblock %}


{% block content %}
<div class="row">
    <div id="content-main" class="col-sm-12">

        <div class="tabbable">

        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}