<!-- Modal -->
<script>
    $(document).ready(function(){
        $('#vclModal').css({'width': '800px','margin-left': function () {return -($(this).width() / 2);}})
        $('#vclModal').on('hidden', function() {
            $(this).removeData('modal');
        });
    })
</script>
<div id="vclModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="vclModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Online vcl preview</h4>
</div>

        <xmp class="modal-body" style="white-space: pre; overflow-x: auto; font-family: monospace">

        </xmp>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div></div>